

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  margin-left: -4px;
}

.text-container {
  padding-bottom: 10px;
  border-bottom: 3px solid;
  line-height: 48px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-left: -4px;
  }

  .text-container {
    padding-bottom: 2px;
    padding-top: 25px;
    border-bottom: 3px solid;
    line-height: 48px;
  }
}